@import "./common/config.styl"

body.bodystate_project-overview

.project-overview

  section.count
    padding-top: 40px
    text-align: center
    height: 600px
    background-color: colors.background_secondary



    .release-title
      color: rgba(255,255,255,0.7)
      font-size: 28px
      letter-spacing: 1.5px
      font-family: 'Open Sans', sans-serif
      font-weight: 300
      margin-bottom: 30px
      display: inline-block

      .underline
        margin-top: 10px
        border-top: 2px solid colors.primary
        padding-top: 8px
        font-size: 9px


    .progress-label
      margin-top: 25px
      font-size: 18px
      color: rgba(255,255,255,0.40)

    .countainer
      margin-top: 25px
      margin-bottom: 45px
      color: rgba(255,255,255,0.9)
      font-family: 'Open Sans', sans-serif
      font-weight: 300      
      letter-spacing: 1.5px

      .days
        font-size: 80px

      .time
        margin-top: 30px
        font-size: 22px
        color: colors.primary


    .action-bar
      margin-top: 55px
      

      .watchlist
        background-color: rgba(255,255,255,0.1)
        padding: 12px 16px
        border-radius(5px)
        font-family: 'Open Sans', sans-serif
        font-weight: 300      
        font-size: 12px
        letter-spacing: 1.5px