.project-overview
  

  section.count

    .release-title
      div
        |Interstellar
      .underline
        | MOVIE


    .progress-label
      |noch


    .countainer
      .days
        | 142 Tage
      .time
        | + 03:25:47

    .progress-label
      |bis zum 20. November 2014



    .action-bar
      button.watchlist
        i.fa.fa-plus.margin-right
        | ADD TO MY WATCHLIST