div(class="ctrs-detailed-release-title")
	|{{page.detailed.release.name}}

div(class="ctrs-detailed-release-counter")
	span(class="ctrs-counter-number large")
		| {{page.detailed.release.usages.length}} 
	span(class="ctrs-counter-number-suffix")
		| Usages - 
	

div(class="ctrs-detailed-release-info")

//- | {{page.detailed.release.default.country}}: {{page.detailed.release.default.release_date}}
//- hr

//- div(ng-repeat="additionalData in page.detailed.release.additionals")
//- 	{{additionalData.country}}: {{additionalData.release_date}}