nav.navbar.navbar-default.ctrs-navigation(role='navigation', ng-controller="NavigationCtrl")
	div
		#bs-example-navbar-collapse-1.collapse.navbar-collapse(style="text-align:center")
			ul.nav.navbar-nav
				li.active
					a(ui-sref='app.profile') Features
				li
					a(ui-sref='list.project-overview') Dates
				li
					a(ui-sref='list.project-overview') 

			ul.nav.navbar-nav.navbar-right
				li.dropdown()
					a.dropdown-toggle(href='javascript:void(0);', data-toggle='dropdown')
						i.fa.fa-gear
						b.caret
					ul.dropdown-menu
						li
							a(ui-sref="app.profile", style="cursor:pointer;")
								| user
						li.divider(ng-if="!isClubOwner")
						li
							a(ng-click="logout()", style="cursor:pointer;")
								| aaa	
