@import "./common/config.styl"

body.bodystate_watchlist
  background-color: white

  
// all styles containing the view container and below
.watchlist
  margin-top: 40px
  background-color: white
  color: #494949



  .list
    margin-top: 22px

    .listitem
      margin: 6px
      // background-color: rgba(0,0,0,0.02)
      padding: 16px 16px 
      border-bottom: 1px solid rgba(0,0,0,0.1)
      


      .category-bullet
        // margin-left: 15px
        display:inline-block
        width: 10px;
        height: 10px;
        border-radius: 50%;


        &.category-game 
          background-color: colors.category_game

        &.category-movie
          background-color: colors.category_movie

        &.category-product
          background-color: colors.category_product

        &.category-event
          background-color: colors.category_event
      

      .category-name
        
        color: #999
        font-style: italic
        padding-left: 4px
        font-size: 14px

      .title
        font-size: 24px
        // color: rgba(255,255,255,0.8)

      .counter
        
        .fa
          margin-right:10px
          color: rgba(0,0,0,0.5)

        // text-align: right
        // padding-left: 40px;
        font-size: 14px
        padding-top: 10px
        .days
          // font-size: 20px
          padding: 2px 10px
          
          border-radius(3px)
          margin-right: 10px
        .time
          // color: rgba(255,255,255,0.5)