extends layout

block body


	script()
		var BACKEND_URL = "https://featurebaseapi.herokuapp.com";
		


	div(ui-view)
		
	//- libs
	script(src='app-lib/bower/angular/angular.js')
	script(src='app-lib/bower/angular-ui-router/release/angular-ui-router.js')
	script(src='app-lib/bower/modernizr/modernizr.js')
	script(src='app-lib/bower/jquery/dist/jquery.js')
	script(src='app-lib/bower/foundation/js/foundation.js')
	script()
		$(document).foundation();

	script(src='app-lib/bower/lodash/lodash.js')
	script(src='app-lib/bower/momentjs/moment.js')
	script(src='app-lib/bower/ua-parser-js/src/ua-parser.js')
	
	script(src='app-src/app.js')

	//- services
	//- script(src='app-src/js/services/rest-service.js')
	//- script(src='app-src/js/services/release-service.js')
	//- controllers
	//- script(src='app-src/js/controllers/main-ctrl.js')
	//- script(src='app-src/js/controllers/profile-ctrl.js')
	//- script(src='app-src/pages/project-overview/page_project-overview.js')
	script(src='app-src/js/controllers/pages/feature-detail-ctrl.js')
	script(src='app-src/js/controllers/includes/navigation-ctrl.js')
	//- script(src='app-src/pages/body-style-ctrl.js')
	//- app
	script(src='app-src/common/configs/routes-cfg.js')
	

	//- injected via gulp creator
	//- --------------------------------------------------------------
	

	//- services:js
	script(src="/app-src/common/services/release-service.js")
	script(src="/app-src/common/services/service_rest.js")
	script(src="/app-src/common/services/service_feature-detail.js")
	//- endinject



	//- pageController:js
	script(src="/app-src/pages/body-style-ctrl.js")
	script(src="/app-src/pages/feature-detail/page_feature-detail.js")
	script(src="/app-src/pages/project-overview/page_project-overview.js")
	//- endinject
dinject
