//- created at: Mon Sep 08 2014 00:29:14 GMT+0200 (CEST)
div.watchlist

  .row
    .medium-offset-2.medium-8.columns
      h2
        |Watchlist
    
  .row
    .medium-offset-2.medium-8.columns
      .page.subtitle
        |These are the releases you are currently watching


  .list             
    .row(ng-repeat="releaseItem in releases | orderBy:'daysLeft':false")
      .medium-offset-2.medium-8.columns.listitem(ui-sref="list.counter-detail({id: releaseItem.id})")

        .row
          //- .medium-2.columns.category-name
            | {{releaseItem.category.name.toUpperCase()}} 
          .medium-12.small-12.columns.title
            | {{releaseItem.name}}
            .category-bullet(class="category-{{releaseItem.category.name}}")
            span.category-name
              | {{releaseItem.category.name}}
          .medium-12.small-12.columns.counter
            i.fa.fa-calendar
            span
              | {{releaseItem.date | date:"dd. MMMM yyyy"}} 
            span.time
              |  (noch
            span.days
              |{{releaseItem.daysLeft}} Tage)
            i.fa.fa-comments-o
            span
              | 12
            //- span.time
            //-   | + 03:43:12
