//- created at: Mon Sep 08 2014 00:29:14 GMT+0200 (CEST)
div.watchlist

  .row
    .medium-offset-2.medium-8.columns.listitem.category-movie

      .row
        .small-2.columns.category-name
          | MOVIE
        .small-6.columns.title
          | Interstellar
        .small-4.columns.counter
          span.days
            | 142 Tage 
          span.time
            | + 21:35:44


  .row
    .medium-offset-2.medium-8.columns.listitem.category-movie

      .row
        .small-2.columns.category-name
          | MOVIE
        .small-6.columns.title
          | Star Wars: Episode 7
        .small-4.columns.counter
          span.days
            | 311 Tage 
          span.time
            | + 03:43:12

  .row
    .medium-offset-2.medium-8.columns.listitem.category-game

      .row
        .small-2.columns.category-name
          | VIDEOGAME
        .small-6.columns.title
          | Civilization V
        .small-4.columns.counter
          span.days
            | 12 Tage 
          span.time
            | + 03:43:12

  .row
    .medium-offset-2.medium-8.columns.listitem.category-movie

      .row
        .small-2.columns.category-name
          | MOVIE
        .small-6.columns.title
          | Guardians of the Galaxy
        .small-4.columns.counter
          span.days
            | 4 Tage 
          span.time
            | + 03:43:12

  .row
    .medium-offset-2.medium-8.columns.listitem.category-product

      .row
        .small-2.columns.category-name
          | PRODUCT
        .small-6.columns.title
          | iPhone 6s
        .small-4.columns.counter
          span.days
            | 4 Tage 
          span.time
            | + 03:43:12
