colors = {
  secondary: #779C27
  primary: #FA225B
  // primary: #22FA70
  // primary: #FAD722

  // background_primary: #1F2228
  background_primary: #F1F1F1

  background_secondary: #23262C

  category_movie: #FA225B
  category_game: #FAD722
  category_product: #22C6FA
}



border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n