@import "./common/config.styl"

body.bodystate_story-areas
  display: block
  background-color: #F1B64B
  // background-color: #7AA850
  padding: 60px 30px 0 30px
  
  
// all styles containing the view container and below
.story-list
  display: block
