
@import "./common/config.styl"
@import "./common/main.styl"

// import pages
@import "./pages/layouts/layout_list.styl"
@import "./pages/project-overview/page_project-overview.styl"
@import "./pages/watchlist/page_watchlist.styl"


// hacks

.row
  max-width: 1240px

// /hacks end


.fa
  &.margin-right
    margin-right: 8px

body
  background-color: colors.background_primary
  font-family: 'Open Sans', Arial, sans-serif
  
  
h1, h2, h3, h4, h5 
  font-weight: 300;
  color: lighten(black, 30)

h3
  font-size: 32px;


button.ui-button
  border-radius(5px)
  font-family: 'Open Sans', Arial, sans-serif
  letter-spacing: 1.5px
  background-color: colors.primary
  padding: 10px 20px


input.ui-input
  border: none
  border-bottom: 1px solid lighten(black, 80)
  box-shadow: none
  font-family: 'Open Sans', Arial, sans-serif
  font-weight: 400
  font-size: 16px
  padding: 10px 20px
  height: 50px
  min-height: 50px
  letter-spacing: 1.5px

input[type="text"]:focus
  box-shadow: none
  background-color: white